@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

*, *::before, *::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

fieldset
{
	border: none;
}

html, body
{
	height: 100%;
	width: 100%;
}

.form-container
{
	width: 100%;
	height: 100%;
	max-width: calc(550px + 50px);
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;


	/* temp */
	padding: 0 25px;
}

.form-container.success
{
	position: relative;
}

.forum-form
{
	width: 100%;
}

.form-container.success .forum-form
{
	display: none;
}

.forum-form__inputs-wrapper__title
{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 110%;

	letter-spacing: 0.05em;

	color: #000000;

	margin-bottom: 45px;
}
@media screen and (max-width: 450px)
{
	.forum-form__inputs-wrapper__title
	{
		font-size: 17px;
		max-width: 275px;
	}
}

.forum-form .input-wrapper
{
	margin-bottom: 37px;
}
.forum-form .input-wrapper:last-child
{
	margin-bottom: 0;
}

.forum-form__label
{
	display: block;

	font-family: 'Museo Sans Cyrl', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 117%;

	letter-spacing: 0.05em;

	color: #000000;

	transition: color .3s;
}

.forum-form .input-wrapper.invalid .forum-form__label
{
	color: rgba(190, 49, 38, 1);
}

.forum-form__input
{
	margin-top: 10px;

	padding-left: 10px;
	padding-bottom: 5px;

	border: none;
	border-bottom: 1px solid #000;
	width: 100%;

	font-family: 'Museo Sans Cyrl', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 117%;

	letter-spacing: 0.05em;

	color: #000000;

	transition: border-bottom-color .3s, color .3s;
}
@media screen and (max-width: 450px)
{
	.forum-form__input
	{
		font-size: 16px;
		padding-left: 5px;
	}
}

.forum-form .input-wrapper.invalid .forum-form__input
{
	border-bottom-color: rgba(190, 49, 38, 1);
	color: rgba(190, 49, 38, 1);
}

.forum-form__input:focus
{
	outline: none;
	border: none;
	border-bottom: 1px solid #000;
}

.forum-form__submit-btn
{
	outline: none;
	border: none;

	cursor: pointer;

	margin-top: 31px;

	background: #BE3126;
	border-radius: 9px;

	padding: 17px 0;

	display: block;
	width: 100%;
	max-width: 182px;

	font-family: 'Museo Sans Cyrl', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 98.5%;

	letter-spacing: 0.05em;

	color: #FFFFFF;

	transition: transform .3s, box-shadow .3s;
}
@media screen and (max-width: 450px)
{
	.forum-form__submit-btn
	{
		margin: 37px auto 0;
	}
}

.forum-form__submit-btn:hover,
.forum-form__submit-btn:focus-visible
{
	/*box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.5);*/
	transform: scale(1.05);
}

.user-agree
{
	margin-top: 19px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 110%;

	letter-spacing: 0.05em;

	color: #000000;
}
@media screen and (max-width: 450px)
{
	.user-agree
	{
		text-align: center;
	}
}

.user-agree a
{
	color: inherit;
	text-decoration: none;
	/*padding-bottom: 1px;*/
	border-bottom: 1px solid #000;

	transition: color .3s, border-bottom-color .3s;
}

.user-agree a:hover,
.user-agree a:focus-visible
{
	outline: none;
	color: #0000EE;
	border-bottom-color: #0000EE;
}

.success-form-block
{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: auto;
	z-index: 2;

	opacity: 0;
	pointer-events: none;

	align-self: center;

	transition: opacity .3s;
}
.form-container.success .success-form-block
{
	pointer-events: all;
	opacity: 1;
}

.success-form-block img
{
	display: block;
	margin: 0 auto 74px;

	width: 118px;
	height: 118px;
	object-fit: cover;
}
@media screen and (max-width: 450px)
{
	.success-form-block img
	{
		margin: 0 auto 54px;
	}
}

.success-message
{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 117%;

	text-align: center;
	letter-spacing: 0.05em;

	color: #333333;
}
@media screen and (max-width: 450px)
{
	.success-message
	{
		font-size: 17px;
	}
}